*{
    margin: 0;
}

nav{
    margin: 0;
    display: flex ;
    justify-content: space-between;
    align-items: stretch;
    position:sticky;
    background-color: #201E1E;
    

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

nav div{
    width: 70%;
    display: flex;

    justify-content: space-around;
    align-items: stretch;
}

nav p img{
    padding: 10px;
}

nav div a{
    display: flex;
    width: 95%;
    height: 100%;
    background-color:#201E1E ;
    justify-content: center;
    align-items: center;
    color: #B5C2BF;
    text-decoration: none;
    
}

nav div a:hover{
    background-color: #B5C2BF ;
    color: #201E1E;
}

section{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #201E1E;
    padding: 2%;
    border-radius: 20px;

    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.block{
    background-color: #e1e7e6;
    padding: 30px;
    margin: 15px;
    border-radius: 20px;
}

#inline h1, span, img{
    display: inline;
    margin-right: 65px;
}


.inline-block {
    margin: 15px;
    margin-top: 0;
    text-align: center;
    background-color: #e1e7e6;
    border-radius: 20px;
}

.text,.clock {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.text {
    width: 45%;
    text-align: left;
}

.clock {
    width: 45%;
}

.clock img {
    max-width: 100%;
    height: auto;
    display: block;
}

.block img{
    margin-top:  10px;
}