*{
    margin: 0;
}

nav{
    margin: 0;
    display: flex ;
    justify-content: space-between;
    align-items: stretch;
    position:sticky;
    background-color: #201E1E;
    

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

nav div{
    width: 70%;
    display: flex;

    justify-content: space-around;
    align-items: stretch;
}

nav p img{
    padding: 10px;
}

nav div a{
    display: flex;
    width: 95%;
    height: 100%;
    background-color:#201E1E ;
    justify-content: center;
    align-items: center;
    color: #B5C2BF;
    text-decoration: none;
    
}

nav div a:hover{
    background-color: #B5C2BF ;
    color: #201E1E;
}