*{
    margin: 0;
}

nav{
    box-sizing: border-box;
    display: flex ;
    justify-content: space-between;
    position: sticky;
    background-color: #201E1E;
}

nav p{
    display: flex;
    height: 70px;
    width: 19%;
    justify-content: center;
    align-items: center;
    color: #B5C2BF;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

nav p img{
    width: 90%;
}